header {
width: 100%;
/* max-width: 1100px; */
height: 100px;
margin: 0 auto;
background: #ffffff;
text-align: center;
}

 .hero {
 padding: 10px 0;
 height: 400px;
 width: 100%;
 align-items: center;
 text-align: center;
 background: #ccc;
 }
 footer {
 padding: 10px 0;
 background: #7F7975;
 height: 200px;
 width: 100%;
 color: white;
 }
