h2{
color: red;
}

header{
width: 100%;
height: 150px;
background-color: #BF7A77;
color: white;
text-align: center;
}
.main{
  padding: 10px 0;
  height: 400px;
  width: 100%;
  background:linear-gradient(aqua,white,teal);
  text-align: center;
}
footer{
  width: 100%;
  height: 150px;
  background-color: #748076;
  color: white;
  text-align: center;
}
input[type=button] {
    background-color: #4CAF50;
    color: white;
    padding: 25px 35px;
    border: none;
    border-radius: 8px;
    font-size: 30px;
    cursor: pointer;
}
